@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Stylish', serif;
  background-color: theme('colors.light');
  overscroll-behavior: none;
}
* {
  box-sizing: border-box;
}
:root {
  --primary: colors.dark;
  --secondary: colors.light;
}

/* Your custom styles go here */
.dark-bg {
  background-color: theme('colors.dark');
}
.primary-bg {
  background-color: theme('colors.primary');
}
.secondary-bg {
  background-color: theme('colors.secondary');
}
.light-bg {
  background-color: theme('colors.light');
}

.dark-text {
  color: theme('colors.dark');
}
.primary-text {
  color: theme('colors.primary');
}
.secondary-text {
  color: theme('colors.secondary');
}
.light-text {
  color: theme('colors.light');
}

.dark-border {
  border-color: theme('colors.dark');
}
.primary-border {
  border-color: theme('colors.primary');
}
.secondary-border {
  border-color: theme('colors.secondary');
}
.light-border {
  border-color: theme('colors.light');
}

.parallax-outer {
  overflow: hidden;
}
.parallax {
  height: 100dvh;
  width: 100%;
  position: relative;
  background-color: theme('colors.light');
}
.parallax img {
  position: absolute;
}

.mountain {
  width: 100%;
  bottom: 0;
  z-index: 3;
}
.block-element {
  position: absolute;
  bottom: -169px;
  background-color: theme('colors.dark');
  background-image: url('/images/ilu_block.webp');
  width: 100%;
  height: 170px;
  display: block;
  z-index: 10;
}
.portrait {
  width: 100%;
  bottom: 0;
  z-index: 4;
  opacity: 0;
}
.copy {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Kalnia', serif;
  z-index: 5;
  opacity: 0;
}
.info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Stylish', serif;
  font-weight: 800;
  font-size: 1.25rem;
  color: black;
  z-index: 10;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.737);
  padding: 1rem 1.5rem;
  border-radius: 10px;
}
.copy h1 {
  font-size: 3rem;
}
.copy span {
  color: theme('colors.dark');
  padding: 1rem;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  opacity: 0;
}
.about {
  background-color: theme('colors.dark');
  color: theme('colors.light');
  padding: 15% 10%;
  height: 600px;
}
.about h2 {
  color: theme('colors.light');
  font-size: 1.5rem;
}
.about p {
  margin-top: 20px;
  width: 100%;
}
.about-last-p {
  margin-top: 0 !important;
  font-family: 'Whisper', cursive;
  font-size: 2rem;
}

.mtn1 {
  z-index: 1;
}
.mtn2 {
  z-index: 2;
}
.mtn3 {
  z-index: 3;
}
.mtn4 {
  z-index: 4;
}
.mtn5 {
  z-index: 5;
}
.mtn6 {
  z-index: 6;
}
